
<nav>
  <!--<a routerLink="/accounts" routerLinkActive="active" class="">Accounts</a>&nbsp;&nbsp;&nbsp;-->
  <a routerLink="/transactions" routerLinkActive="active" class="btn">Transactions</a>  &nbsp;&nbsp;&nbsp;
  <a routerLink="/customers" routerLinkActive="active" class="btn">Customers</a>
</nav>

<hr>

<div class="container">
  <router-outlet></router-outlet>
</div>
