<ng2-smart-table [settings]="customerTableSetting"
                 (createConfirm)="onCreateConfirm($event)"
                 (deleteConfirm)="onDeleteConfirm($event)"
                 (rowSelect)="onUserRowSelected($event)"
                 [source]="source"></ng2-smart-table>

<ng-template *ngIf="transactionList">
  <ul>
    <li *ngFor="let transaction of transactionList">{{transaction.description}}, {{transaction.amount}}</li>
  </ul>
</ng-template>
